* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: pink;
}

.box {
    position: relative;
    padding: 2em;
    border: 2px black solid;
    background: aquamarine;
}

.box::before {
    content: '';
    position: absolute;
    right: calc(100% + 0.5em);
    top: 0;
    width: 1em;
    height: 100%;
    border: 2px black solid;
    background: plum;
}