:root {
    --red: #fa5353;
    --light-red: #ffa0a0;
    --orange: #ff571f;
    --text: #060312;
    --text-contrast: #f0f0f0;
    --text-selected: #ff8133;
    --status-pending: #ffb648;
    --status-completed: #48ff9a;
    --status-today: #4869ff;
    --status-scheduled: #8848ff;
    --background: #ffbf47;
    --delete-button: #d1d1d1;
    --placeholder-text: #211749;
    --item-backgr: #fafafa;
    --item-detail: #cccccc;
    --item-unchecked: #ffffff;
    --item-check-bar-center: #e2e2e2;
    --category-backgr: #f6f6f6;
    --category-text: #5a5a5a;
    --button-hover: #ffdbd1;
    --scroll-track: #dad9d9;
    --scroll-thumb: #5c5c5c;
    --scroll-thumb-hover: #414141;
}


/*----------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1.2rem;
}

body {
    background-color: var(--background);
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1rem;
    background: none;
    overflow: visible;
}

input::placeholder {
    color: var(--placeholder-text);
    opacity: 1;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    overflow: visible;
}

.red, .red:focus, .red:hover, .red:active {
    color: var(--red);
}
.orange, .orange:focus, .orange:hover, .orange:active {
    color: var(--orange);
}

button {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2rem;
    color: var(--text);
    padding: 0.25em;
    border: 2px solid;
    border-radius: 0.2em;
    border-color: var(--text);
    /*transition: 0.2s ease-in-out;
    transition-property: color, border-color, background-color;*/
}
button:hover,
button:active
button:focus {
    color: var(--text-contrast);
    background: var(--text);
}

button.red {
    color: var(--red);
    border-color: var(--red);
}
button.red:hover,
button.red:active,
button.red:focus {
    color: var(--text-contrast);
    background: var(--red);
}

button.orange {
    color: var(--orange);
    border-color: var(--orange);
}
button.orange:hover,
button.orange:active,
button.orange:focus {
    color: var(--text-contrast);
    background: var(--orange);
}


button.delete {
    display: inline-block;
    line-height: 0.5em;
    font-family: 'Arial', sans-serif;
    padding-bottom: 0.42em;
    text-transform: lowercase;
}

button.show-more {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    border: 2px rgba(0, 0, 0, 0) solid;
    border-radius: 50%;
}
button.show-more:focus,
button.show-more:hover {
    border: 2px var(--text) solid;
    color: var(--text);
    background: none;
    text-align: center;
}
button.show-more:active {
    color: var(--text-selected);
    border-color: var(--text-selected);
}
button.show-more span {
    font-size: 1em;
    display: inline-block;
    pointer-events: none;
    transform: translate(45%, -20%) rotate(90deg);
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

/*----------------------------------------------------------------------*/


.arrow {
    font-size: 1em;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 0.2em var(--item-detail) solid;
    border-right: 0.2em var(--item-detail) solid;
    transform: rotate(0deg);
}

.check-icon {
    font-size: 1em;
    display: inline-block;
    width: 0.5em;
    height: 1em;
    border-bottom: 0.25em var(--item-detail) solid;
    border-right: 0.25em var(--item-detail) solid;
    transform: translateY(-0.1em) rotate(45deg);
    
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;       
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .menu {
    font-size: 0.8rem;
    display: none;
    position: absolute;
    top: 0;
    right: calc(100% + 0.2rem);
    z-index: 2;
    min-width: 18ch;
    background: var(--item-backgr);
    box-shadow: 3px 3px 10px #06031249;
    border-radius: 5px;
}
.dropdown.active .menu {
    display: inline-block;
    animation-name: dropdown-appear;
    animation-duration: 0.2s;
}
@keyframes dropdown-appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.dropdown .menu > li {
    position: relative;
}
.dropdown .menu > li a {
    padding: 0.3em 0.5em;
    display: block;
}
.dropdown .menu > li a:hover,
.dropdown .menu > li a:focus {
    transform: translateX(0.2em);
}
.dropdown .menu > li:active {
    background: #0000001a;
}
.dropdown .menu > li + li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.3em;
    right: 0.3em;
    border-top: 1px var(--item-detail) solid;
}

/*----------------------------------------------------------------------*/


.page-wrap {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.page-content {
    display: flexbox;
    width: 100vw;
    max-width: 48rem;
    padding: 1em;
}



.page-content > .top {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    justify-content: center;
    padding: 1em 0.5em;
}


/*----------------------------------------------------------------------*/


.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background: rgba(0, 0, 0, 0.281);
    animation-name: modal-background;
    animation-duration: 0.4s;
    overflow: hidden;
}

.modal.visible {
    display: grid;
}

.modal .content-wrap {
    position: relative;
    display: block-inline;
    width: 100vw;
    max-width: 30rem;
    padding: 0 1em;
    height: fit-content;
}
.modal .content {
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px #06031249;
    background: var(--item-backgr);
    animation-name: modal-container;
    animation-duration: 0.4s;
}
.modal h1 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.modal form .inputs {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.modal form .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.modal form .buttons button {
    flex-grow: 1;
}

@keyframes modal-container {
    from {transform:translateY(-2em); opacity: 0;}
    to {opacity: 1;}
}
@keyframes modal-background {
    from {opacity: 0}
    to {opacity: 1}
}

.modal .content input {
    font-size: 1rem;
    padding: 0.25em 0.5em;
    border: 0.1em solid;
    border-radius: 0.2em;
}
.modal .repetitions-wrap {
    padding: 0.5em;
}
.modal ul.repetitions {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.25em;
    height: 8.5em;
    overflow-y: auto;
}

.modal ul.repetitions li {
    text-align: center;
}
.modal ul.repetitions li > input {
    width: 4rem;
}

.pending-revs .content > .top {
    display: flex;
    padding-bottom: 0.5rem;
}
.pending-revs .content > .top h1 {
    flex-grow: 1;
}
.pending-revs button.close {
    text-transform: lowercase;
    flex-shrink: 0;
    padding: 0 0.4em;
}

.pending-revs .days {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.pending-revs .day .top {
    position: relative;
    padding-bottom: 0.25rem;
    margin-bottom: 0.75rem;
    font-size: 1em;
}
.pending-revs .day .top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px var(--item-detail) solid;
}


.pending-revs .revisions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; 
}

.pending-revs .revision {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.pending-revs .revision .icon {
    font-weight: 700;
    text-transform: uppercase;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.25em var(--item-detail) solid;
    color: var(--item-detail);
}
.pending-revs .revision[status="scheduled"] .icon {
    border-color: var(--status-scheduled);
    color: var(--status-scheduled);
}
.pending-revs .revision[status="today"] .icon {
    border-color: var(--status-today);
    color: var(--status-today);
}
.pending-revs .revision[status="pending"] .icon {
    border-color: var(--status-pending);
    color: var(--status-pending);
}
.pending-revs .revision[status="completed"] .icon {
    border-color: var(--status-completed);
    color: var(--status-completed);
}
.pending-revs .revision .icon span {
    font-size: 0.75em;
}
.pending-revs .revision > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
    padding-left: 0.75rem;
    overflow: hidden;
}
.pending-revs .revision .title {
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pending-revs .revision .location {
    font-size: 0.8em;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--category-text);
}

/*----------------------------------------------------------------------*/


.categories {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0;
}



.category {
    position: relative;
    background: var(--category-backgr);
    box-shadow: 3px 3px 10px #06031249;
    border-radius: 0.5em;
    padding: 0.5em;
    animation-name: item-show;
    animation-duration: 0.5s;
}


.category > .head {
    display: flex;
    flex-direction: row;
}

.category .expand {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    padding-right: 0.5em;
    min-width: 0;
    overflow: hidden;
}

.category.active > .head {
    padding-bottom: 0.5em;
}

.category.active > .head > .expand {
    white-space: normal;
}

.category .name {
    font-size: 1.2em;
    margin-left: 0.5em;
    text-transform: capitalize;
    
}

.category .arrow {
    font-size: 1.5em;
    transform: rotate(-45deg);
}
.category.active > div > a > .arrow {
    transform: translate(0.1em, -0.1em) rotate(45deg);
}

.category .tools {
    flex-shrink: 0;
    font-size: 0.8em;
}

.category > .body {
    position: relative;
    overflow: hidden;
    height: 0;
}

.category.active > .body {
    padding: 1em 0.5em 0.5em 0.5em;
    overflow: visible;
    height: auto;
}
.category.active > .body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px var(--item-detail) solid;
    border-radius: 0.5em;
}

.category .items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: visible;
    padding-bottom: 0.6em;
}
.category .items:empty {
    padding: 0;
}
.category .items:empty::before {
    content: 'Empty';
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    color: var(--category-text);
}


/*----------------------------------------------------------------------*/

/*NESTED CATEGORIES*/

.category .category {
    background: none;
    box-shadow: none;
    padding: 0.25em 0;
}

.category .category.active > .head {
    padding-bottom: 0;
}

.category .category.active > .body {
    margin-top: 0;
    padding: 1em 0 0 1em;
    border-left: 1px var(--item-detail) solid;
}

.category .category.active > .body::before {
    left: 0.5em;
    top: -0.1em;
    right: none;
    height: 0.8em;
    border: none;
}


/*----------------------------------------------------------------------*/


.item {
    font-size: 1em;
    background: var(--item-backgr);
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px #06031249;
    animation-name: item-show;
    animation-duration: 0.5s;
}

@keyframes item-show {
    from {opacity: 0; transform:translateY(-1em)}
    to {opacity: 1;}
}

.item > .content {
    max-width: 100%;
    padding: 0.5em 0.5em 0.25em;
}

.item .head {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 0.2em;
}

.item .head > .info {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    padding-right: 0.5em;
    min-width: 0;
    overflow: hidden;
}

.item.active .head > .info {
    white-space: normal;
}

.item .head .title {
    font-size: 1.25rem;
    text-transform: capitalize;
}

.item .head > .tools {
    flex-shrink: 0;
}

.item .body {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    overflow: hidden;
    height: 0;
    color: var(--text);
}
.item.active .body {
    height: auto;
    padding: 0.5em;
}

.item .body > .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item .body > .revisions {
    display: block;
    max-height: 23em;
    overflow-y: auto;
}

.item .bottom {
    position: relative;
    display: grid;
    align-items: center;
}
.item .bottom::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0.5em;
    right: 0.5em;
    border-top: 1px var(--item-detail) solid;
    border-radius: 0.5em;
}

.item .bottom .expand {
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--item-detail);
    cursor: pointer;
    display: grid;
    justify-content: center;
    padding: 0.1em 0 0.4em 0;
}


.item .arrow {
    transform: rotate(45deg);
}
.item.active .arrow {
    transform: translate(0.2em, 0.1em) rotate(225deg);
}


/*----------------------------------------------------------------------*/

.item-check {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.item-check > .info {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 8em;
    padding-right: 0.5em;
}

.item .revisions > li + li .info::before {
    content: '';
    position: absolute;
    height: 0.2em;
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px var(--item-detail) solid;
    border-radius: 0.5em;

}

.item-check .status {
    text-transform: uppercase;
}

.item-check > .bar {
    position: relative;
    padding: 0.8em 0.4em;
}


.revisions > li + li .item-check .bar::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -0.6em; /* half the height */
    left: 50%;
    width: 0.4em;
    height: 1.2em; /* should be larger than twice the size of the padding*/
    margin-left: -0.2em; /* half the width */
    border-radius: 0.2em;
    background: var(--item-detail);
}
.item-check .circle {
    position: relative;
    z-index: 1;
    padding: 0.25em;
    border: 0.4em var(--item-detail) solid;
    border-radius: 50%;
    transition: transform 0.05s ease-out;
}

/*
.revisions > li + li .item-check[status="scheduled"] .bar::before {
    background-color: var(--status-scheduled);
}
.revisions > li + li .item-check[status="today"] .bar::before {
    background-color: var(--status-today);
}
.revisions > li + li .item-check[status="pending"] .bar::before {
    background-color: var(--status-pending);
}
.revisions > li + li .item-check[status="completed"] .bar::before {
    background-color: var(--status-completed);
}
*/

.item-check[status="scheduled"] .circle {
    border-color: var(--status-scheduled);
}
.item-check[status="today"] .circle {
    border-color: var(--status-today);
}
.item-check[status="pending"] .circle {
    border-color: var(--status-pending);
}
.item-check[status="completed"] .circle {
    border-color: var(--status-completed);
}


.item-check[clickable=true] .circle {
    cursor: pointer;
}
.item-check[clickable=true] .circle:hover,
.item-check[clickable=true] .circle:active {
    transform: scale(1.2);
}

.item-check .circle .check-icon {
    font-size: 1.4em;
    display: none;
}
.item-check[clickable=true] .circle:hover .check-icon {
    display: initial;
}

.item-check[status='completed'] .circle .check-icon {
    display: initial;
    border-color: var(--status-completed);
}

.item-check .bar .inner {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    background: var(--item-check-bar-center);
}


.no-animation {
    animation-name: none;
}

/*----------------------------------------------------------------------*/


@media screen and (max-width: 800px) {
    .category .category.active > .body {
        padding-left: 0;
        border: none;
    }
    .category .category.active > .body::before {
        border-left: 1px var(--item-detail) solid;
        border-radius: 0;
    }
    .category .category.active::after {
        content: '';
        position: absolute;
        left: 0.5em;
        right: 0;
        bottom: 0;
        border-bottom: 1px var(--item-detail) solid;    
    }  
}

@media screen and (max-width: 500px) {
    .modal form {
        flex-direction: column;
    }
    .modal form .buttons {
        flex-direction: column;
    }

    .page-content {
        padding: 0.3em;
    }
    
    .page-content > .top {
        flex-direction: column;
    }

    .item .body {
        flex-direction: column;
    }

    .item-check > .info {
        flex-grow: 0;
    }

}

@media screen and (max-width: 300px) {
    html {
        font-size: 1.1rem;
    }
}