:root {
    --red: #fa5353;
    --background: #ffbf47;
    --delete-button: #d1d1d1;
    --text-focus: #f0f0f0;
    --text: #060312;
    --placeholder-text: #211749;
    --item-backgr: #fafafa;
    --item-detail: #cccccc;
    --item-unchecked: #ffffff;
    --item-check-bar-center: #e2e2e2;
    --item-check-bar-pending: #ffb648;
    --item-check-bar-completed: #48ff9a;
    --item-check-bar-today: #4869ff;
    --item-check-bar-scheduled: #8848ff;
    --category-backgr: #f6f6f6;
    --category-text: #5a5a5a;
    --button-color: #ff571f;
    --button-hover: #ffffff;
}


/*----------------------------------------------------------------------*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1.2rem;
}

body {
    background-color: var(--background);
    font-family: 'Rubik', sans-serif;
}

button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    overflow: visible;
}

ul {
    list-style: none;
    margin: 0;
    padding: 1em;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    background: none;
    overflow: visible;
    margin: 0;
}

input::placeholder {
    color: var(--placeholder-text);
    opacity: 1;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


/*----------------------------------------------------------------------*/


.arrow {
    font-size: 1em;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 0.2em var(--item-detail) solid;
    border-right: 0.2em var(--item-detail) solid;
    transform: rotate(0deg);
}

.check-icon {
    font-size: 1em;
    display: inline-block;
    width: 0.5em;
    height: 1em;
    border-bottom: 0.25em var(--item-detail) solid;
    border-right: 0.25em var(--item-detail) solid;
    transform: translateY(-0.1em) rotate(45deg);

}

button.delete {
    font-size: 0.75em;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
    color: #fff;
    width: 1.25em;
    height: 1.25em;
    border-radius: 25%;
    background: var(--delete-button);
}


/*----------------------------------------------------------------------*/


.content-wrap {
    display: grid;
    justify-content: center;
    align-items: center;
}

.content {
    display: flexbox;
    box-sizing: border-box;
    width: 100vw;
    max-width: 1000px;
    padding: 1em;
}



.content > .top {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    justify-content: center;
    padding: 1em 0.5em;
}

.content > .top button {
    color: var(--button-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border: 0.1em solid;
    border-radius: 0.2em;
    transition: 0.3s ease-in-out;
    transition-property: color, border-color;
}

.content > .top button:hover,
.content > .top button:focus {
    color: var(--button-hover);
    border-color: var(--button-hover);
}


/*----------------------------------------------------------------------*/


.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background: rgba(0, 0, 0, 0.281);
    animation-name: modal-background;
    animation-duration: 0.4s;
}

.modal.visible {
    display: grid;
}

.modal .content {
    position: relative;
    top: 5em;
    padding: 2em 3em;
    height: fit-content;
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px #06031249;
    background: var(--item-backgr);
    animation-name: modal-container;
    animation-duration: 0.4s;
}

@keyframes modal-container {
    from {transform:translateY(-2em); opacity: 0;}
    to {opacity: 1;}
}
@keyframes modal-background {
    from {opacity: 0}
    to {opacity: 1}
}

.modal button {
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.25em 1em;
    border: 0.1em solid;
    border-radius: 0.2em;
}

.modal button.cancel {
    color: var(--red);
}

.modal input {
    font-size: 1rem;
    padding: 0.25em 0.5em;
    border: 0.1em solid;
    border-radius: 0.2em;
}


/*----------------------------------------------------------------------*/


.categories {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0;
}



.category {
    background: var(--category-backgr);
    box-shadow: 3px 3px 10px #06031249;
    border-radius: 0.5em;
    padding: 0.5em;
    animation-name: item-show;
    animation-duration: 0.5s;
}


.category > .head {
    font-size: 1.2em;
    position: relative;
    color: var(--category-text);
}

.category .expand {
    display: block;
}


.category .name {
    margin-left: 0.5em;
    text-transform: capitalize;
    
}

.category .arrow {
    font-size: 1.3em;
    transform: rotate(-45deg);
}
.category.active .arrow {
    transform: translate(0.1em, -0.1em) rotate(45deg);
}

.category > .body {
    position: relative;
    overflow: hidden;
    height: 0;
}

.category.active > .body {
    margin-top: 0.5em;
    padding-top: 0.5em;
    height: auto;
}
.category.active > .body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px var(--item-detail) solid;
    border-radius: 0.5em;
}

.category .items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
}
.category .items:empty {
    padding: 0;
}
.category .items:empty::before {
    content: 'Empty';
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    color: var(--category-text);
}


/*----------------------------------------------------------------------*/


.item {
    font-size: 1em;
    color: var(--text);
    background: var(--item-backgr);
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px #06031249;
    animation-name: item-show;
    animation-duration: 0.5s;
}

@keyframes item-show {
    from {opacity: 0; transform:translateY(-1em)}
    to {opacity: 1;}
}

.item .content {
    max-width: 100%;
    padding: 0.5em;
}

.item .head {
    position: relative;
    padding-bottom: 0.5em;
} 

.item .head > .title {
    font-size: 1.25rem;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0.4em;
}


.item .body {
    font-size: 0.8em;
    overflow: hidden;
    max-height: 0;
}
.item.active .body {
    max-height: 100vh;
}

.item .bottom {
    position: relative;
    display: grid;
    align-items: center;
}
.item .bottom::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0.5em;
    right: 0.5em;
    border-top: 1px var(--item-detail) solid;
    border-radius: 0.5em;
}

.item .bottom .expand {
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--item-detail);
    cursor: pointer;
    display: grid;
    justify-content: center;
    padding: 0.4em 0 0.4em 0;
}


.item .arrow {
    transform: rotate(45deg);
}
.item.active .arrow {
    transform: translate(0.2em, 0.1em) rotate(225deg);
}


/*----------------------------------------------------------------------*/


.item-check {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.item-check > .info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.revisions > li + li .info::before {
    content: '';
    position: absolute;
    height: 0.2em;
    left: 0;
    right: 1em;
    top: 0;
    border-top: 1px var(--item-detail) solid;
    border-radius: 0.5em;

}

.item-check .status {
    text-transform: uppercase;
}

.item-check > .bar {
    position: relative;
    padding: 1.5em 0;
}


.revisions > li + li .item-check .bar::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -1.2em; /* half the height */
    left: 50%;
    width: 0.4em;
    height: 2.4em; /* should be larger than twice the size of the padding*/
    margin-left: -0.2em; /* half the width */
    background: var(--item-check-bar-scheduled);
}
.item-check .circle {
    position: relative;
    z-index: 1;
    padding: 0.25em;
    border: 0.4em var(--item-check-bar-scheduled) solid;
    border-radius: 50%;
    transition: transform 0.05s ease-out;
}

.revisions > li + li .item-check[status="today"] .bar::before {
    background-color: var(--item-check-bar-today);
}
.item-check[status="today"] .circle {
    border-color: var(--item-check-bar-today);
}

.revisions > li + li .item-check[status="pending"] .bar::before {
    background-color: var(--item-check-bar-pending);
}
.item-check[status="pending"] .circle {
    border-color: var(--item-check-bar-pending);
}

.revisions > li + li .item-check[status="completed"] .bar::before {
    background-color: var(--item-check-bar-completed);
}
.item-check[status="completed"] .circle {
    border-color: var(--item-check-bar-completed);
}

.item-check[clickable=true] {
    cursor: pointer;
}
.item-check[clickable=true] .circle:hover,
.item-check[clickable=true] .circle:active {
    transform: scale(1.2);
}

.item-check .circle .check-icon {
    font-size: 1.4em;
    display: none;
}
.item-check[clickable=true] .circle:hover .check-icon,
.item-check[clickable=true] .circle:active .check-icon {
    display: initial;
}

.item-check[status='completed'] .circle .check-icon {
    display: initial;
    border-color: var(--item-check-bar-completed);
}

.item-check .bar .inner {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: var(--item-check-bar-center);
}


/*----------------------------------------------------------------------*/


@media screen and (max-width: 480px) {
    .content > .top {
        flex-direction: column;
    }
}