
:root {
    --root-bg: #4FB286;
    --clock-bg: #3C896D;
    --clock-sep: #8fffcc;
    --clock-color: #beffe2;
    --clock-blink: #77cca6;
    --root-color: #acffd9;
    --selected-color: #dcffef;
    --selected-border: #2effa1;
}


html {
    font-size: 1.5em;
}


body {
    font-family: 'Rubik', sans-serif;
    color: var(--root-color);
    background: var(--root-bg);
}


button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: inherit;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.clock {
    padding: 0.5rem 2rem;
    margin: 1.5rem 0.6rem;
    min-width: 22.25rem;
    border-radius: 1.5rem;
    background: var(--clock-bg);
}

.clock span {
    font-size: 8rem;
    font-weight: bold;
    color: var(--clock-color);
}

.clock .sep {
    color: var(--clock-sep);
}

.clock .blinking {
    color: var(--clock-blink);
}



.label {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}


.buttons {
    display: inline-block;
}

.buttons button {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3em 0.7em;
    border: 0.18em solid;
    border-radius: 0.15em;
    transition: 0.2s ease;
    transition-property: border-color, color;
}

.buttons button:hover {
    color: var(--selected-color);
    border-color: var(--selected-border);
}