
:root {
    --background: #0f0f0f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    background: var(--background);
}


.page-wrap {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100rem;
}

#canvas {
    display: block;
    max-width: 100%;
    max-height: 100vh;
}